@import "src/assets/styles/palette";

@font-face {
  font-family: "Univers LT Std 55 Roman";
  src: url("../fonts/Univers_LT_Std_55_Roman.otf");
  src: url("../fonts/Univers_LT_Std_55_Roman.otf") format("eot");
}

$font-family: 'Univers LT Std 55 Roman', serif, Arial;
$font-weight-bold: Bold;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;




.font-roman-16{
  font-family: $font-family;
  font-size: $font-size-16;
  color: $black;
  letter-spacing: 0;
  line-height: 22px;
}

.font-roman-12{
  font-family: $font-family;
  font-size: $font-size-12;
  color: $dark-grey;
  letter-spacing: 0;
  line-height: 18px;
}

.font-bold-14{
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-14;
  color: $black-2;
  letter-spacing: 0;
  line-height: 18px;
}

.font-roman-16-grey{
  font-family: $font-family;
  font-size: $font-size-16;
  color: $light-grey-2;
  letter-spacing: 0;
  line-height: 24px;
}

.font-roman-16-white{
  font-family: $font-family;
  font-size: $font-size-16;
  color: $white;
  letter-spacing: 0;
  line-height: 26px;
}
