// white
$white: #FFFFFF;
$white-transparent: #FFFFFF00;

//grey
$light-grey: #EFF2F7;
$light-grey-2: #CACFD5;
$grey: #C2CDDD;
$dark-grey: #667790;
$dark-grey-2: #00000029;
$dark-grey-3: #0E141A1A;


// black
$black: #000000;
$black-2: #0E141A;



//magenta
$magenta: #D3135A;
